.all {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: center;
}

.SearchBox {
    width: 660px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*CSS for search-bar*/
.searchbutton {
    width: 536px;
    height: 40px;
    border: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.searchbutton:focus {
    border: 2px solid #317ef3;
    border-bottom-left-radius: 0px;
}

/*CSS for button*/
.baidubutton {
    width: 100px;
    height: 44px;
    background: #317ef3;
    border: 2px solid #317ef3;
    color: #fff;
    font-size: 16px;
    outline: none;
    margin: 0 auto;
    padding: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.searchresultlist {
    background-color: white;
    margin-top: -3px;
    width: 514px;
    list-style: none;
    border: 2px solid #317ef3;
}

#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap!important;
}

.searchresultlist li {
    margin-left: -40px;
    width: 554px;
    height: 30px;
    font-size: 14px;
}

.active {
    color: dodgerblue;
    background-color: rgb(240, 240, 240);
}

/*Adapt to Mobile Phone screen*/
@media screen and (max-width:768px) {
    .searchbutton {
        width: 250px;
        height: 40px;
    }
    .baidubutton {
        width: 80px;
    }
    .searchbox {
        width: 335px;
        margin-bottom: 0px;
        height: 240px;
    }
    .searchbar {
        width: 335px;
    }
    .searchresultlist {
        width: 270px;
        padding: 0;
        margin-right: 80px;
    }
    .searchresultlist li {
        width: 270px;
        margin-left: 0px;
    }
}