#header {
    height: 71px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.head a {
    color: #222;
    font: 13px/23px Arial,sans-serif;
    text-decoration: none;
    display: block;
    margin: 24px 19px;
}

.topleft {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topright {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topleft li {
    float: left;
    display: inline;
}

.topright li {
    float: left;
    display: inline;
}

/*Adapt to Mobile Phone screen*/
@media screen and (max-width:768px) {
    .topleft {
        display: none;
    }
    .head a {
        margin: 5px 4px;
    }
}
